<!--<input [formControl]="name" />

{{name.value}}-->

<form [formGroup]="residence">
    <input formControlName="name" placeholder="Enter the residence name">
    <div *ngIf="residence.get('name')!.invalid && ( residence.get('name')!.touched ||residence.get('name')!.dirty )">
    <div *ngIf="residence.get('name')!.errors!['required']">
        Name is required!
    </div>
    <div *ngIf="residence.get('name')!.errors!['minlength']">
        Name must have at least 3 characters!

    </div>
</div>
    <!--<div formGroupName="address" >
        <input formControlName="street">
        <input formControlName="city">
    </div>  -->
    <input formControlName="address">
    <input formControlName="image">
    <div *ngIf="residence.get('image')!.invalid && ( residence.get('image')!.touched ||residence.get('image')!.dirty )">
            Image is required!
        </div>
    <input type="submit" (click)="add()" [disabled]="residence.invalid">
</form>
{{residence.get('name')!.touched}}
{{residence.get('name')!.dirty}}
{{residence.get('name')!.errors | json}}



{{residence.value.name}}


{{residence.value.image}}


