<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Address</th>
        <th>Image</th>
    </tr>
    <tr *ngFor="let r of listResidences">
        <td>{{r.id}}</td>
        <td>{{r.name}}</td>
        <td>{{r.address}}</td>
        <td><img [src]="r.image" width="50" height="50"></td>
        <td><button (click)="showApartementByResidence(r.id)">Show apartement</button></td>
        <td><a [routerLink]="['/residence/',r.id]" >To Details</a></td>
    </tr>
</table>
<h1>List apartements</h1>
<input type="text" [(ngModel)]="searchText">
<button (click)="searchSurface()">Search</button>
<table *ngIf="listApartementsFiltred.length !== 0">
    <tr>
        <th>ID</th>
        <th>Number</th>
        <th>Surface</th>
        <th>Floor number</th>
        <th>Residence</th>
    </tr>
    <tr *ngFor="let a of listApartementsSearch">
        <td>{{a.id}}</td>
        <td>{{a.appartNum}}</td>
        <td>{{a.surface}}</td>
        <td>{{a.floorNum}}</td>
        <td>{{a.residence.name}}</td>

    </tr>
</table>

<p *ngIf="listApartementsFiltred.length == 0">No apartement found !</p>
